::-webkit-scrollbar {
  width: 12px !important;
  border-radius: 10px !important;
  height: 12px;
}

::-webkit-scrollbar-track {
  background: transparent !important;
  border-radius: 10px !important;

}

::-webkit-scrollbar-thumb {
  background: #f3f4f9 !important;
}